<div class="container">
  <h3 class="text-center my-5">検索結果</h3>
    <table class="table">
      <tr>
        <th>職業</th>
        <th>タイトル</th>
        <th>投稿日時</th>
        <th> </th>
      </tr>

      <% if @posts  %>
        <% @posts.each do |post|%>
          <tr>
            <td>
              <ul class="m-0">
                <% post.jobs.each do |job| %>
                  <li><%= job.job_name %></li>
                <% end %>
              </ul>
            </td>
            <td><%= post.title %></td>
            <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= link_to "詳細", post_path(post),class:"btn btn-secondary" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <%= link_to "<<戻る", user_path(current_user) %>
</div>

