<h1>投稿</h1>

<%= form_with model: Post.new do |f| %>

<div class="field">
  <%= f.label :タイトル %><br>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :本文 %><br>
  <%= f.text_field :text %>
</div>

<h4>写真</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <div class='form-group'>
        <%= f.collection_check_boxes(:occupation_ids, Occupation.all, :id, :name) do |occupation| %>
            <div class='form-check'>
                <%= occupation.label class: 'form-check-label' do %>
                    <%= occupation.check_box class: 'form-check-input' %>
                    <%= occupation.text %>
                <% end %>
            </div>
        <% end %>
    </div>

  <%= f.submit '投稿' %>

<% end %>