<div class="container">
<h1>投稿</h1>
<%= form_with model: Post.new do |f| %>

<div class="field">
  <%= f.label :タイトル %><br>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :本文 %><br>
  <%= f.text_field :text %>
</div>


<h4>職業</h4>
  <div class='form-group'>
        <%= f.collection_check_boxes(:job_ids, Job.all, :id, :job_name) do |job| %>
            <div class='form-check'>
                <%= job.label class: 'form-check-label' do %>
                    <%= job.check_box class: 'form-check-input' %>
                    <%= job.text %>
                <% end %>
            </div>
        <% end %>
    </div>


  <%= f.submit '投稿' %>

<% end %>
</div>