<div class="container">
<h1>投稿詳細</h1>
<table>
<tr>
<th><%= @post.title %></th>
<td><%= @post.favorites.count %></td>
</tr>
<tr>
<td><%= @user.name %></td>
<td><%= @user.age %></td>
<td><%= @user.gender %></td>
<td><%= @post.job %></td>
</tr>
<td><%= @post.text %></td>
</table>

<%= form_with(model:[@post, @comment], method: :post) do |f| %>
<%= f.text_area :comment %>
<%= f.hidden_field :post_id, value: @post.id %>
<%= f.submit 'コメントする' %>
<% end %>

<h2>コメント内容</h2>
<% @comments.each do |comment| %>
<%= comment.comment %>
<% end %>

<%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>


</div>