<h1>投稿詳細</h1>
<p><%= @post.title %></p>
<p><%= @user.name %></p>
<p><%= @user.age %></p>
<p><%= @user.gender %></p>
<p><%= @post.job %></p>
<p><%= @post.text %></p>

<h1>コメントする</h1>

<%= form_with(model:[@post, @comment], method: :post) do |f| %>
<%= f.text_area :comment %>
<%= f.hidden_field :post_id, value: @post.id %>
<%= f.submit 'コメントする' %>
<% end %>
<%= @post.favorites.count %>

<h2>コメント内容</h2>
 <% @comments.each do |comment| %>
  <%= comment.comment %>
  <% end %>