<h1>登録情報の変更</h1>

<%= form_with model: @user do |f| %>

<h4>名前</h4>
<%= f.text_field :name%>

<h4>年齢</h4>
<%= f.text_field :age%>歳

<h4>性別</h4>
<%= f.text_field :gender%>

<h4>プロフィール画像</h4>
  <%= f.file_field :image, accept: "image/*" %></br>
  
  <%= f.submit '保存' %>

<% end %>